#map {
  height: 500px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

  .controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  button {
    box-shadow: 0px 11px 20px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:21px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border: none;
  }
  button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }